body{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}


.container{
    display: flex;
    justify-content: space-evenly;
}

#logo{
    height: auto;
    width: 150px;
}

#vela{
    width: 300px;
    border: 2px solid rgb(80, 60, 92);
    border-radius: 15px;
}

.derecha{
    background-color: rgb(210, 190, 221);
    display: grid;
    align-content: space-evenly;
    width: 30%;
    margin: 10px;
    justify-content: space-evenly;
    border-radius: 10px;
}

.izquierda{
    display: grid;
    justify-items: end;
}

.box{
    display: flex;
    align-items: center;
    margin: 20px;
    margin-bottom: 5px;
}

h1{
    font-size: 60px;
    font-family: 'Kalam', cursive;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.link-dir{
    height: 50px;
    width: 250px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: all 1.5s ease;
    position: relative;
    border: 2px solid rgb(80, 60, 92);
    border-radius: 10px;
}

.link-dir:hover{
    background-color: white;
    background: rgb(80, 60, 92);
    color: #fff !important;
}

.icons{
    color: rgb(80, 60, 92);
    text-align: center;
    font-size: 40px;
}
.fa-instagram-square:hover{
   font-size: 45px;
}
.fa-facebook-square:hover{
    font-size: 45px;
}
.fa-whatsapp-square:hover{
    font-size: 45px;
}

footer{
    font-size: medium;
    text-align: center;
    margin-top: 5%;
}

@media (max-width:320px){
    .container{
        flex-wrap: wrap;
       
    }
    .link-dir{
        width: 200px;
        font-size: 15px;
        height: fit-content;
        background-color: white;
    }
    h3{
        text-align: center;
        font-size: 20px;
    }
    header{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    #logo{
        width: 50px;
    }
    .izquierda{
        justify-items: baseline;
    }
    #vela{
        width: 150px;
        align-items: center;
    }
    .derecha{
        margin-top: 10px;
        background-color: white;
    }
  }

  @media (max-width:1024px){
    .container{
        flex-wrap: wrap;
    }
    .derecha{
        margin-top: 10px;
        width: 100%;
        display: grid;
        background-color: white;
    }
    header{
        display: none;
    }
    #vela{
        width: 200px;
    }
    .link-dir{
        font-size: 15px;
    }
    
  }




  
